@using Microsoft.AspNetCore.Identity
@using ToDogList.Areas.Identity.Data;
@inject SignInManager<ToDogListUser> SignInManager
@inject UserManager<ToDogListUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To-Dog List</h1>
    
    @if(SignInManager.IsSignedIn(User))
    {
        <p>Welcome, @UserManager.GetUserAsync(User).Result.Name!</p>
    }
    else
    {
        <p>Please register or log in to continue.</p>
    }
</div>
