@using ToDogList.ViewModel
@model AddToDoViewModel

<h1>Add Task</h1>

<form asp-controller="app" asp-action="add" method="post">
    <input asp-for="Name" />
    <input type="submit" value="Add Task" />
</form>