@using ToDogList.Models;

@model List<ToDoItem>

<div class="row">

    <div class="col-md-6">
        <h1>Tasks</h1>
        <a asp-controller="App" asp-action="Add" class="btn btn-primary">Add</a>
        <a asp-controller="App" asp-action="Delete" class="btn btn-danger">Delete</a>
        @if (Model.Count == 0)
        {
            <p>Your list is empty!</p>
        }
        @foreach (ToDoItem item in Model)
        {
            <ul>
                <li>@item.Name</li>
            </ul>
        }
    </div>

    <div class="col-md-6">
        <p>this is where the pictures will go</p>
    </div>
</div>