@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To-Dog List</h1>

    <p>This is where the to-do list and all that stuff will go!</p>

</div>
