@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">To-Dog List</h1>
<div class="row">
    <div class="col-md-6">
        <p>This is where the to-do list and all that stuff will go!</p>
    </div>
    <div class="col-md-6">
        <p>This is where dog pictures will go!</p>
    </div>

</div>
