@using ToDogList.Models;
@using Microsoft.AspNetCore.Identity
@using ToDogList.Areas.Identity.Data;

@model List<ToDoItem>
@inject UserManager<ToDogListUser> UserManager;

<div class="row">

    <div class="col-md-6">
        <h1>Tasks</h1>
        <a asp-controller="App" asp-action="Add" class="btn btn-primary">Add Event</a>
        @if (Model.Count == 0)
        {
            <p>Your list is empty!</p>
        }
        @foreach (ToDoItem item in Model)
        {
            if (UserManager.GetUserAsync(User).Result.Id.Equals(item.UserId))
            {
                <ul>
                    <li>@item.Name</li>
                </ul>
            }
        }
    </div>

    <div class="col-md-6">
        <p>this is where the pictures will go</p>
    </div>
</div>